.CreateWishlistFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WishlistFormTitle {
   text-align: center; 
   justify-content: center;
   flex-direction :column;

}


#CreateWishlistForm {
  width: 33%; 
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.form-title {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #000000;
}