.CreateWishlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CreateWishlist-text {
    margin: 20px 0;
    font-size: 1.1rem;
}

.CreateWishlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 20px 0px;
    border-radius: 20px;
    width: 100%;
}

.create-wishlist-button {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(84, 84, 84, 0.1);
}

.create-wishlist-button span {
    font-size: 2rem;
    color: #000000;
}

a {
    text-decoration: none;
    width: 100%;
}