
.form--addgift {
    max-width: 400px;
    margin: 2rem;
    padding-bottom: 5rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  h1 { 
    color: black;
    font-family: 'Galada';
  }
  
  .title--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
   /* box-sizing: border-box;*/
    border: 1px solid black; 
    border-radius: 10px; 

  }

  .textearea--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black; 
    border-radius: 10px; 

  }

  .input--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black; 
    border-radius: 10px; 

  }

  .price--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black; 
    border-radius: 10px; 
  }

  .niveau_envie--gift  {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black; 
    border-radius: 10px; 
  }


  .link--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black; 
    border-radius: 10px; 

  }

  .button--gift {
    width: 100%;
    padding: 8px;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    font-family: 'Galada';
    font-size: 22px;
  }

  button:hover {
    background-color:rgb(64, 65, 67);
  }

  