.Login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    gap : 20px;
}

.Login-page h2 {
    font-size: 1.8rem;
}

.Login-page form {
    margin: 0 auto;
    width: 400px;
    padding: 1rem 0 2rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Login-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.Login-page li {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.Login-page label {
    font-size: 0.8rem;
    font-weight: bold;
}


.Login-page input {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 0.8rem;
}

.login-button {
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.Login-page a {
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
}

.Login-page a:hover {
    font-weight: normal;
    color: inherit;
    text-decoration: none;
}