.MyWishlists-tab {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CreateWishlist {
    width: 600px;
}

.CreateWishlist h2 {
    font-size: 1rem;
}

.CreateWishlist-container {
    width: 600px;
    height: 100px;
}

.MyWishlists-tab--list {
    list-style-type: none;
    margin: 50px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}