.Profile-page {
   margin: 0 auto;
   width: 60%;
}

.Profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.Profile-logo {
    background-color: rgb(128, 215, 198);
    border: 1px solid rgb(61, 194, 167);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.Profile-page h2 {
    font-size: 1.8rem;
}

/*onglets*/

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.tab-button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    position: relative;
    font-size: 1rem;
}


/*onglet souligné*/
.tab-button.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: 0;
    left: 0;
}