.WishlistItem {
    background-color: rgb(128, 215, 198);
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 20px 0;
    border-radius: 20px;
}

.WishlistItem h2 {
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.WishlistItem h3 {
    font-size: 0.8rem;
    font-weight: normal;
}